:root {
    --color: #fff;
    --bgc: #3e3e3e;
    --fontSize: 24px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
    color: var(--color);
    background-color: var(--bgc);
    font-size: var(--fontSize);
}
/* @layer utilities { */
    /*加在這邊*/
    /* .btn {
        @apply px-4 py-2 rounded border-transparent text-white;
    }
    .btn-red {
        @apply bg-red-500 border-red-600 border-2;
    }
    .btn-hover {
        @apply bg-red-700;
    }
    .btn-focus {
        @apply border-red-400 border-2;
    } */
/* } */
